<div class="col-md-offset-1 col-md-10 box search"
  ng-controller="FilterController as filter"
  ng-init="filter.loadSkills()">

  <h3>Filter Skills:</h3>
  <input type="text" class="form-control" ng-model="filter.searchTerm" />

  <ul class="skills">
    <li ng-repeat="skill in filter.filteredSkills()">
      <label>
        <input type="checkbox" ng-model="skill.selected"
          ng-change="filter.updateSearch()" />
        {{skill.name}}
      </label>
    </li>
  </ul>
</div>

<div class="col-md-offset-1 col-md-4 search results"
  ng-controller="ResultsController as ctrl"
  ng-init="ctrl.loadWorkers()">

  <ul class="workers">
    <li class="box" ng-repeat="worker in ctrl.workers.results">
      <p>
      <img ng-src="{{worker.avatar.thumb}}">
        <strong>{{ctrl.fullName(worker)}}</strong>
      </p>
      <span>{{ctrl.skillsText(worker)}}
    </li>
  </ul>

  <nav>
    <ul class="pagination">
      <li>
        <a href ng-click="ctrl.showPage(0)">
          <span aria-hidden="true">First</span>
        </a>
      </li>
      <li ng-repeat="page in ctrl.paginator.pages()"
        ng-class="{ active: ctrl.paginator.currentPage == page }">
        <a href ng-click="ctrl.showPage(page)">{{page + 1}}</a>
      </li>
      <li>
        <a href ng-click=ctrl.showPage(ctrl.paginator.lastPage) == >
          <span aria-hidden="true">Last</span>
        </a>
      </li>
    </ul>
  </nav>
</div>

<div class="col-md-6 box">
  <div id="map">
  </div>
</div>
