<div class="col-md-offset-1 col-md-10 box search"
  ng-controller="FilterController as filter"
  ng-init="filter.loadSkills()">

  <h3>Filter Skills:</h3>
  <input type="text" class="form-control" ng-model="filter.searchTerm" />

  <ul class="skills">
    <li ng-repeat="skill in filter.filteredSkills()">
      <label>
        <input type="checkbox" ng-model="skill.selected"
          ng-change="filter.updateSearch()" />
        {{skill.name}}
      </label>
    </li>
  </ul>
</div>

<div class="col-md-offset-1 col-md-4 search results"
  ng-controller="ResultsController as ctrl"
  ng-init="ctrl.loadWorkers()">

  <ul class="workers">
    <li class="box" ng-repeat="worker in ctrl.workers.results">
      <p>
        <img src="/missing-profile-photo.png">
        <strong>{{ctrl.fullName(worker)}}</strong>
      </p>
      <span>{{ctrl.skillsText(worker)}}
    </li>
  </ul>

  <ul class="pagination">
    <li class="box">First</li>
    <% 5.times do |page| %>
      <li class="box"><%= page %></li>
    <% end %>
    <li class="box">Last</li>
  </ul>
</div>

<div class="col-md-6 box">
  <div id="map">
  </div>
</div>
