<div class="col-md-offset-1 col-md-10 box search"
  ng-controller="FilterController as filter"
  ng-init="filter.loadSkills()">

  <div class="pull-right">
    <% if current_user %>
      <%= link_to 'My account', edit_worker_registration_path %>
      |
      <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'Sign up as a Worker', new_worker_registration_path %>
      |
      <%= link_to 'Sign in', new_user_session_path %>
    <% end %>
  </div>

  <h3>Filter Skills:</h3>
  <input type="text" class="form-control" ng-model="filter.searchTerm" />

  <ul class="skills">
    <li ng-repeat="skill in filter.filteredSkills()">
      <label>
        <input type="checkbox" ng-model="skill.selected"
          ng-change="filter.updateSearch()" />
        {{skill.name}}
      </label>
    </li>
  </ul>
</div>

<div class="col-md-offset-1 col-md-4 search results"
  ng-controller="ResultsController as ctrl"
  ng-init="ctrl.loadWorkers()">

  <ul class="workers">
    <li class="box" ng-repeat="worker in ctrl.workers.results">
      <p>
      <img ng-src="{{worker.avatar.thumb}}">
        <strong>{{ctrl.fullName(worker)}}</strong>
      </p>
      <span>{{ctrl.skillsText(worker)}}
    </li>
  </ul>

  <nav>
    <ul class="pagination">
      <li>
        <a href ng-click="ctrl.showPage(0)">
          <span aria-hidden="true">First</span>
        </a>
      </li>
      <li ng-repeat="page in ctrl.paginator.pages()"
        ng-class="{ active: ctrl.paginator.currentPage == page }">
        <a href ng-click="ctrl.showPage(page)">{{page + 1}}</a>
      </li>
      <li>
        <a href ng-click=ctrl.showPage(ctrl.paginator.lastPage) == >
          <span aria-hidden="true">Last</span>
        </a>
      </li>
    </ul>
  </nav>
</div>

<div class="col-md-6 box">
  <div id="map" ng-controller="MapController">
  </div>
</div>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJT0VMVtiZ8xBXOab4Ka4iZHtX_Fx75vQ&callback=initMap">
</script>

<script type="text/javascript">
// This converts initMap callback into a beautiful Promise object
window.waitForGoogleMaps = new Promise(function(resolve) {
    window.initMap = resolve;
});
</script>
