<!DOCTYPE html>
<html>
<head>
  <title>Eworkers</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>
<body ng-app="eworkers">

<div class="container">
  <div class="row">
    <%= yield %>
  </div>
</div>

</body>
</html>
